* {
  margin: 0;
  padding: 0;
}

html{
  background: #282727;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

header{
  display: flex;
  align-items: center;

  background: rgba(255, 154, 108, 0.70);
  padding: 25px 120px;
}


nav{
  display: flex;
  justify-content: end;
  gap: 64px;
  width: 100%;
}

nav a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  justify-content: space-between;
}

#menu {
  display: none;
  background: red;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

#btn-hamburger-icon button{
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  width: 32px;
  height: 32px;
  color: white;
  background-color: rgba(255, 154, 108, 0);
}

/*margem colocada apenas para visualização da lista por completa*/
ul {
  margin-left: 50px;
}

#btn-hamburger-icon{
  display: none;
}

#btn-hamburger-icon ion-icon{
  height: 32px;
  width: 32px;
}

#btn-hamburger-icon button:hover{
  transition: 0.4;
  outline: 5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 830px) {
  nav{
    display: none;
  }

  #btn-hamburger-icon{
    display: flex;
    width: 100%;
    justify-content: end;
  }

}

@media (max-width: 470px){
  header{
    padding: 25px 25px;
  }
}

