* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background: #282727;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

header{
  display: flex;
  align-items: center;

  background: rgba(255, 154, 108, 0.70);
  padding: 25px 120px;
}


header nav{
  display: flex;
  justify-content: end;
  gap: 64px;
  width: 100%;
}

header nav a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  justify-content: space-between;
}

.todo-o-menu{
  position: relative;

}

.menu {
  display: none;
  height: 100%;
  width: 50%;

  position: fixed;
  z-index: 1;
  top: 0;
}
.menu a{
  text-decoration: none;
  color: #fff;
}

.menu .fecha-menu {
  cursor: pointer;
  border-radius: 30%;
  padding: 15px;
}

.menu .fecha-menu:hover{
  outline: 4px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}

.menu.ativo{
  display: flex;
  background: #cc4b3a;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  gap: 45px;
}

.parte-externa-menu{
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 100%;
  width: 50%;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.parte-externa-menu.ativa {
  display: flex;
}

#btn-hamburger-icon button{
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  width: 32px;
  height: 32px;
  color: white;
  background-color: rgba(255, 154, 108, 0);
}

/*margem colocada apenas para visualização da lista por completa*/

#btn-hamburger-icon{
  display: none;
}

#btn-hamburger-icon ion-icon{
  height: 32px;
  width: 32px;
}

#btn-hamburger-icon button:hover{
  transition: 0.4;
  outline: 5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}

h1, h2{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}

.paragrafo{
  font-size: 18px;
  margin-bottom: 42px;
  line-height: 150%;
}

/* section com id "inicio" */

#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px 80px 158px 80px;

  position: relative;
}

.botao-marque-consulta{
  background: #FF725E;
  border-radius: 8px;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 16px;
  color: #fff;
}

.botao-conheca-nossa-clinica{
  color: #FF725E;
  margin-left: 48px;
  text-underline-offset: 4px;
}

.img-initial-page {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 100%;
}

/* section com id "clinica" */

#clinica{
  display: flex;
  align-items: center;
  padding: 64px 80px;
  gap: 64px;
}

#clinica li{
  margin-bottom: 16px;
  margin-left: 32px;
  font-size: 18px;
}

/* section com id "farmacia" */

#farmacia{

  padding: 64px 80px;
  text-align: center;
}

#farmacia img{
  margin: 64px auto;
}

#farmacia .paragrafo{
  max-width: 950px;
  margin: auto;
}

/* section com id "duvidas" */

#duvidas{
  display: flex;
  align-items: center;
  padding: 64px 80px;
  gap: 64px;
}

.duvida{
  position: relative;
}

.duvida h3{
  border: 2px solid #FF725E;
  border-radius: 8px;
  padding: 24px;
  cursor: pointer;
  user-select: none;
}

.duvida img{
  position: absolute;
  top: 32px;
  right: 24px;
}

.duvida .paragrafo{
  border-right: 1px solid #FF725E;
  border-bottom: 1px solid #FF725E;
  border-left: 1px solid #FF725E;
  border-radius: 0px 0px 8px 8px;
  margin-top: -8px;

  /*escondendo o paragrafo*/
  padding: 0px;
  height: 0;
  overflow: hidden;
  opacity: 0;

  transition: 0.3s;
}

/*classe que auxiliará na visibilidade do elemento .duvida .paragrafo*/
.duvida.ativa .paragrafo{
  padding: 24px;
  height: fit-content;
  opacity: 1;
}

footer{
  background: rgba(255, 152, 108, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 64px 80px;
}

footer img, footer .titulo{
  font-weight: 600;
  display: block;
  margin-bottom: 24px;
}

footer nav a{
  color: #c2cacf;
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

footer p{
  margin-bottom: 16px;
  max-width: 350px;
}

footer a{
  color: #c2cacf;
  text-decoration: none;
}

#copyright{
  text-align: center;
  padding: 29px 121px;
  background-color: #263238;
}

#copyright a{
  color: #c2cacf;
}

@media (max-width: 1240px) {
  #inicio {
    flex-direction: column;
  }

  #inicio .texto-section-inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .img-initial-page {
    display: none;
  }

  #duvidas , #clinica , #farmacia{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #farmacia img{
    margin: 64px 0px;
  }

}

@media (max-width: 830px) {
  header nav{
    display: none;
  }

  #btn-hamburger-icon{
    display: flex;
    width: 100%;
    justify-content: end;
  }

}

@media (max-width: 470px){
  header{
    padding: 25px 25px;
  }
}

